[mysqld]
# ==========================================================================
server_id = 1
bind_address = 0.0.0.0
port = 3306

authentication_policy = mysql_native_password

default_time_zone=+08:00

character_set_server = utf8mb4
# character
init_connect = 'SET NAMES utf8mb4'
# order
collation_server = utf8mb4_0900_ai_ci


# ==========================================================================
# wait_timeout = 3600
# interactive_timeout = 3600
connect_timeout = 10
net_read_timeout = 30
net_write_timeout = 60


# ==========================================================================
# log
# ==========================================================================
# error log 开启后不再向 stdout 打印
# log_error = /var/log/mysql/error.log

# binlog
log_bin = /var/log/mysql/master-bin.log
# binlog index
# log_bin_index = /var/log/mysql/master-bin.log.index
# binlog 模式, DEFAULT=row
binlog_format = mixed
# 事务能够使用的最大 binlog 缓存空间 DEFAULT=32K MAX= MIN=4K
binlog_cache_size = 1M
# binlog 文件最大空间，达到该大小时切分文件 DEFAULT=1073741824 1G, MAX=1G, MIN=4K
max_binlog_size = 256M
# BINLOG 保存时间，秒数
binlog_expire_logs_seconds = 864000

# 启用慢查询日志
slow_query_log = ON
# 慢查询检测时间
long_query_time = 20
# 慢查询文件
slow_query_log_file = /var/log/mysql/slow.log
# 记录 更改表、分析表、检查表、创建索引、删除索引、优化表和修复表 慢查询
log_slow_admin_statements = ON


# ==========================================================================
# relay log
# ==========================================================================
relay_log = /var/log/mysql/relay.log
relay_log = /var/log/mysql/relay.log.index
# 从库从主库复制的数据写入从库 binlog 日志 DEFAULT=OFF
log_slave_updates = ON
# 最大 relay log size DEFAULT=0 MAX=1073741824 1G MIN=0
max_relay_log_size = 256M
# 自动清空不再需要的中继日志 DEFAULT=ON
relay_log_purge = ON
# 重启 slave 时删除所有 relay log, 通过 SQL 重放的位置点去重新拉取日志 DEFAULT=OFF
relay_log_recovery = ON

# ==========================================================================
# replica
# ==========================================================================
# 副本集类型
replica_parallel_type = LOGICAL_CLOCK
# 副本worker num
replica_parallel_workers = 4
# slave 上 commit 顺序保持一致
replica_preserve_commit_order = ON


# ==========================================================================
# 连接
# ==========================================================================
# 允许的最大并发客户端数, MAX=100000, MIN=1, DEFAULT=151
max_connections = 2000
# 操作系统可用于 mysqld 的文件描述符数量, MAX=平台, MIN=0, DEFAULT=5000
open_files_limit = 5000
# 所有线程的打开表数, MAX=524288, MIN=1, max(open_files_limit - 10 - max_connections) / 2, 400), DEFAULT=4000
table_open_cache = 4000


# ==========================================================================
# 缓冲区, 连接查询, 索引, 读取缓冲, 排序缓冲, 临时表, 用户表
# ==========================================================================
# DEFAULT 256K
join_buffer_size = 2M
# DEFAULT 8M
key_buffer_size = 64M
# DEFAULT 128K
read_buffer_size = 1M
# DEFAULT 256K
sort_buffer_size = 2M
# DEFAULT 16M
tmp_table_size = 256M
# DEFAULT 16M
max_heap_table_size = 256M


# ==========================================================================
read_only = OFF


# ==========================================================================
# 数据包
# ==========================================================================

# 数据包最大大小, 单位: 字节, MAX=1073741824 1G, MIN=1024
max_allowed_packet = 64M


# ==========================================================================
# InnoDB
# ==========================================================================
# 缓冲区 default=128M
innodb_buffer_pool_size = 256M
# 异步 I/O 子系统
# innodb_use_native_aio = NO
# 读线程数
innodb_read_io_threads = 16
# 写线程数
innodb_write_io_threads = 16
# 并行查询
innodb_parallel_read_threads = 16
