[mysqld]
port = 3306
mysqlx_port = 33060

bind-address = 0.0.0.0

# passwd WARN: deprecated
default-authentication-plugin=mysql_native_password

# character
character-set-server = utf8mb4
# character
init_connect='SET NAMES utf8mb4'

# order
collation-server = utf8mb4_general_ci

# wait timeout
# wait_timeout = 3600

# tz timezone
default-time-zone=+08:00

# max connections
max_connections=2000

# binlog
log-bin = logbin

# BINLOG 保存时间，秒数
binlog_expire_logs_seconds = 604800

# 并行查询
innodb_parallel_read_threads = 16
