[mysqld]
############################################################################################################
# 地址, 端口
############################################################################################################
# 工作端口
port = 3306
mysqlx_port = 33060
# 监听地址
bind-address = 0.0.0.0


############################################################################################################
# 密码
############################################################################################################
# passwd WARN: deprecated
authentication_policy=mysql_native_password

############################################################################################################
# 字符集
############################################################################################################
# character
character-set-server = utf8mb4
# character
init_connect='SET NAMES utf8mb4'
# order
collation-server = utf8mb4_general_ci


############################################################################################################
# 超时
############################################################################################################
# wait timeout
# wait_timeout = 3600


############################################################################################################
# 时区
############################################################################################################
# tz timezone
default-time-zone=+08:00


############################################################################################################
# 日志
############################################################################################################
# binlog
log-bin = logbin
# BINLOG 保存时间，秒数
binlog_expire_logs_seconds = 864000


############################################################################################################
# 连接数
############################################################################################################
# 最大连接数
max_connections=1000
# 保持在缓存中的可用连接线程数 default=-1
thread_cache_size = 16


############################################################################################################
# IO
############################################################################################################
# 异步 I/O 子系统
# innodb_use_native_aio = NO
# 读线程数
innodb_read_io_threads = 16
# 写线程数
innodb_write_io_threads = 16
# 并行查询
innodb_parallel_read_threads = 16


############################################################################################################
# Capacity 容量
############################################################################################################
# default = 200
# SATA/SAS 200, SAS RAID10 2000, SSD 8000
innodb_io_capacity = 2000
# default=200
innodb_io_capacity_max = 4000


############################################################################################################
# 缓冲区
############################################################################################################
# 缓冲区 default=128M
innodb_buffer_pool_size = 128M


############################################################################################################
# 优化 order/group/distinct/join 性能
############################################################################################################
# 最大排序长度 default=1K
max_sort_length = 8K
# 排序缓冲大小 default=256K
sort_buffer_size = 2M
# 连接查询缓冲大小 default=256K
join_buffer_size = 128M


############################################################################################################
# 缓存
############################################################################################################
# default=5000
open_files_limit = 10000
# default=400
table_open_cache = 4495
# default=16
table_open_cache_instances = 32
